<%= render 'shared/error_messages', object: f.object%>

<%= f.label :email %><span class="required">*</span>
<%= f.text_field :email %>

<%= f.label :steamid, "Steam ID" %><span class="required">*</span>
<%= f.text_field :steamid %>

<%= f.label :password %><span class="required">*</span>
<%= f.password_field :password %>

<%= f.label :password_confirmation, "Confirm Password" %><span class="required">*</span>
<%= f.password_field :password_confirmation %>
