<% provide(:title, 'Edit a tracker') %>
<h2>Edit a tracker for <%= @game.metagame.name %></h2>

<div class="row">
  <div class="span6">
    <%binding.pry%>
    <%= form_for [@game, @tracker] do |f| %>
      <%= render 'fields', f: f %>
      <div><%= f.hidden_field :game_id, value: params[:game_id] %></div>
      <%= f.submit "Edit my tracker", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
